.widget-background {
  background-color: white;
  border-radius: 18px;
  margin-top: 0.6rem;
  box-sizing: border-box;
}

.widget-med {
  width: 21rem;
  height: 10rem;
}

.widget-sm {
  width: 10rem;
  height: 10rem;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  color: white;
}

.slide {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  justify-content: end;
  backdrop-filter: brightness(75%);
  color: white;
}

.radio-checked[aria-checked="true"] {
  border: 2px solid #f59a30;
}

.radio-checked[aria-checked="true"] .lucide-circle {
  fill: #f59a30;
  stroke: #f59a30;
}

.email-background {
  background-color: white;
  height: 3rem;
  border-radius: 10px;
  padding: 0.2rem;
  padding-left: 0.5rem;
  justify-content: center;
}
