@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/fonts/HelveticaNeueRoman.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/fonts/HelveticaNeueBold.otf") format("truetype");
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.App {
  font-family: "Helvetica Neue";
}

#nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#nav > #scrolled {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}

#link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.5rem;
}

.nav-hotlink {
  color: black;
  padding-right: 2rem;
  text-decoration: none;
  font-weight: 500;
}

#home {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#portrait {
  z-index: 1;
  height: 100vh;
  object-fit: cover;
  object-position: 20% 100%;
  position: relative;
  width: 100%;
}

#discover {
  position: absolute;
  z-index: 3;
  margin-bottom: 2rem;
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

#discover:hover {
  color: black;
  background-color: white;
}

#autoscroll-anchor {
  position: absolute;
  bottom: 0;
}

#overview {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100%;
  width: 100%;
  background-color: black;
}

#overview > .title {
  color: white;
}

.title {
  font-size: 1.6rem;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8rem;
  padding-bottom: 2rem;
  text-align: center;
}

#panel-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.panel {
  display: flex;
  position: relative;
  width: 20rem;
  height: 35rem;
  background-color: white;
  border-radius: 20px;
  margin: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.panel:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.panel > img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  filter: brightness(80%);
}

.panel-text {
  position: absolute;
  padding-left: 1rem;
  margin-top: 1rem;
  color: white;
  line-height: 1rem;
  height: 100%;
  width: 90%;
}

.panel-button {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  color: white;
  border: none;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  right: 1rem;
  top: 1rem;
  font-size: 1.9rem;
}

.panel-button:hover {
  cursor: pointer;
}

.popup-background {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  width: 50%;
  height: 55%;
  padding: 6rem;
  border-radius: 20px;
}

.popup > img {
  height: 6rem;
  margin-bottom: 1rem;
}

.popup > h1 {
  font-size: 3rem;
}

#research {
  height: 100vh;
}

#research > .title {
  color: black;
}

#research-body {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  padding-right: 4rem;
}

#toggle-area {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.toggle {
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: baseline;
  margin-right: 2rem;
}

.toggle > input {
  display: none;
}

.radio-button {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
}

.research-text {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.research-title.active {
  font-weight: bold;
  color: black;
  cursor: pointer;
  transform: scale(1.02);
}

.research-title {
  display: flex;
  align-items: center;
  color: #a6a6a6;
  transition: transform 0.5s ease-in-out;
}

.research-description {
  overflow: hidden;
  max-height: 0;
}

.research-description.show {
  max-height: 1000px;
  opacity: 1;
}

#diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 40%;
  height: 28rem;
  margin-left: 2rem;
}

#diagram > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#projects > .title {
  color: white;
}

#projects-body {
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

#slider-container {
  display: flex;
  background-color: white;
  height: 1rem;
  width: 100%;
}

.slider {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slider > input {
  display: none;
}

.slider > label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.slider input:checked + label {
  background-color: black;
  opacity: 0.8;
  color: white;
}

@media only screen and (max-width: 1050px) {
  #panel-container {
    align-items: center;
    flex-direction: column;
  }
  .panel {
    height: 18rem;
    width: 80%;
  }

  .title {
    align-items: center;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  #portrait {
    object-fit: contain;
    width: 100vw;
    height: 100%;
  }

  #discover {
    display: none;
  }
}
