html {
  scroll-behavior: smooth;
}

#nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#nav > #scrolled {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}

#link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
}

.nav-hotlink {
  color: black;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
}

#home {
  display: flex;
  align-items: last baseline;
  position: relative;
  height: 100%;
}

#home > img {
  z-index: 1;
  position: relative;
  width: 100vw;
}

#home-fullview {
  height: 100vh;
}

#portrait-overlay {
  z-index: 2;
  position: absolute;
  color: black;
  font-size: 350%;
  padding-bottom: 3rem;
  padding-left: 2rem;
  line-height: 3rem;
}

#portrait-overlay > h1 {
  font-size: 220%;
  line-height: 1.2rem;
}

#autoscroll-anchor {
  position: absolute;
  bottom: 0;
}

#overview {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100%;
  width: 100%;
  background-color: black;
}

#overview > .title {
  color: white;
}

.title {
  font-size: 150%;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8rem;
  padding-bottom: 2rem;
}

#panel-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.panel {
  display: flex;
  position: relative;
  width: 20rem;
  height: 35rem;
  background-color: white;
  border-radius: 20px;
  margin: 0.5rem;
  overflow: hidden;
}

.panel > img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  filter: brightness(80%);
}

.panel > p {
  position: absolute;
  padding-left: 1rem;
  color: white;
  line-height: 1rem;
}

.panel-button {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  color: white;
  border: none;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  right: 1rem;
  top: 1rem;
  font-size: 180%;
}

.popup-background {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.popup {
  background: white;
  width: 60%;
  height: 70%;
  padding: 3rem;
  border-radius: 20px 20px 0px 0px;
}

#research {
  height: 100vh;
}

#research > .title {
  color: black;
}
